{% load static %}
<aside class="left-sidebar">
    <nav>
        <ul class="main-menu">
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons1.png' %}" alt="Торговые точки" title="Торговые точки"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons2.png' %}" alt="Организации" title="Организации"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons3.png' %}" alt="Исполнители" title="Исполнители"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons4.png' %}" alt="Смены" title="Смены"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons5.png' %}" alt="Реварды" title="Реварды"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons6.png' %}" alt="Субсидии" title="Субсидии"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons7.png' %}" alt="Отчёты" title="Отчёты"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons8.png' %}" alt="Отзывы" title="Отзывы"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons9.png' %}" alt="ETA" title="ETA"></a></li>
            <li class="main-menu-button"><a href="#"><img src="{% static 'images/icons10.png' %}" alt="Чаты" title="Чаты"></a></li>
        </ul>
    </nav>
</aside>